// Modules
// Site wide modules. Components, sub navigation etc.

// Header
body.overlay-open {overflow-y: hidden;}

header{
  font-size: 19px;
  letter-spacing: 1px;
  height: 78px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 888;
  a{
    padding-bottom: 5px;
    border-bottom: solid 1px transparent;
    outline: 0;
    transition: border 0.2s linear;

    &.active{border-color: rgba($dark, 0.25);}
  }
  animation:         fade-in 0.8s 1; /* IE 10+ */
}

.email, .site-title{
  z-index: 99999999;
  position: fixed;
  top: 26px;
  left: 30px;
  font-size: 19px;
  letter-spacing: 1px;
}

.about, .filter{
  position: fixed;
  top: 26px;
  right: 30px;
  outline: 0;
}

.email, header ul, .filter{display: none;}

.filter{
  right: 115px;
  padding-left: 20px;
  background: url("/assets/filter.gif") no-repeat 0 8px;
}

header ul {
  margin: 0 0 0 -158px;
  width: 345px;
  padding: 0;
  position: fixed;
  left: 50%;
  top: 26px;
  li{
    float: left;
    list-style-type: none;
    list-style-position: outside;
    margin: 0 0 0 30px;
    height: 36px;
    &:first-child{
      margin-left: 0;
      padding-right: 41px;
      background: url("/assets/slash.png") no-repeat right -8px;
    }
  }
}


.fixed-area{
  height: 100%;
  max-width: 100%;
  overflow-x:hidden;
}

body{  overflow-y: scroll;}

body.overlay-open .fixed-area{
  position: fixed;
  left:0px;
  z-index: 777;
}


// Main Content
.main-content{
  margin: 100px auto 0;
  animation:         fade-in 1.2s 1; /* IE 10+ */
}

.item{
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0;
  min-width: 100px;
  min-height: 100px;
  background-color: $contrast;
  img{width: 100%;opacity: 0;transition: opacity 300ms;}
  &.loaded img{opacity: 1;}
}

.grid-sizer, .item{width: 100%;}
.gutter-sizer { width: 0%; }


// Fade In Animation
@keyframes fade-in {
  0%   { opacity: 0; }
  50%   { opacity: 0; }
  100% { opacity: 1; }
}

// Overlay
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(243, 243, 243, 0.95);
  display: none;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 999;
  transition: background 0.2s linear;


  .email, .site-title{position: absolute;display: none;}
  &.active{display: block;}
  .close{
    position: absolute;
    top: 26px;
    right: 30px;
    font-size: 19px;
    color: $close;
    letter-spacing: 1px;
  }
}

.overlay.active header{
  background: none;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}


.overlay-wrapper{
  width: 100%;
  margin: 100px auto 0;
  max-width: 1000px;
  img{
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    // opacity: 0;
    background-color: #1e1e1e;
    min-width: 100%;
    min-height: 100px;
    // transition: opacity 300ms;
    // &.loaded{opacity: 1;}
  }
}

// Overlay Wrapper
.overlay-wrapper{
  p {
    margin: 0;
    padding: 0;
    text-indent: 35px;
    font-style: italic;
    font-size: 18px;
    line-height: 1.5;
  }
}


.text-block, .overlay-wrapper h1{
  margin: 0 30px 48px 30px;
  display: block;
  a{
    border-bottom: solid 1px rgba($contrast, 1);
    transition: border 400ms ease; 
    &:hover{border-bottom: solid 1px rgba($contrast, 0);}
  }
}

.pagination{
  position: absolute;
  top: 19px;
  left: 30px;
  width: 78px;
  height: 36px;
  background: url(/assets/slash.png) no-repeat center center;
}

.pagination a{
  @extend %image-replacement;
  display: block;
  padding: 0;
  width: 18px;
  height: 36px;
}

.prev{
  background: url(/assets/arrow-left.png) no-repeat left center;
  margin-right: 40px;
  float: left;
}

.next{
  background: url(/assets/arrow-right.png) no-repeat left center;
  float: right;
}


// About
.overlay-wrapper p.body-email{
  font-weight: bold;
  font-style: normal;
  padding-bottom: 20px;
  text-indent: 0;
}

.block{
  padding: 0 30px;
}


// overlay-dark
.overlay-dark{
  background-color: $dark;
  width: 100%;
  height: 100%;
  min-height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  display: none;
}

// Footer
p.copy{
  font-size: 14px;
  text-align: center;
  padding: 10px 0 20px 0;
  color: $contrast;

  span.break{display: block;clear: both;}

  a{
    color: $contrast;
    border-bottom: solid 1px rgba($contrast, 0.25);
    padding-bottom: 2px;
  }
}

