// Modules
// Site wide modules. Components, sub navigation etc.

// Header
header{
  font-size: 19px;
  letter-spacing: 1px;
  height: 78px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 888;
  a{
    padding-bottom: 5px;
    border-bottom: solid 1px transparent;
    outline: 0;
    transition: border 0.2s linear;

    &.active{border-color: rgba($dark, 0.25);}
  }
  animation:         fade-in 0.8s 1; /* IE 10+ */
}

.email, .site-title{
  z-index: 99999999;
  position: fixed;
  top: 26px;
  left: 30px;
  font-size: 19px;
  letter-spacing: 1px;
}

.about, .filter{
  position: fixed;
  top: 26px;
  right: 30px;
  outline: 0;
}

.email, header ul, .filter{display: none;}

.filter{
  right: 115px;
  padding-left: 20px;
  background: url("/assets/filter.gif") no-repeat 0 8px;
}

header ul {
  margin: 0 0 0 -158px;
  width: 345px;
  padding: 0;
  position: fixed;
  left: 50%;
  top: 26px;
  li{
    float: left;
    list-style-type: none;
    list-style-position: outside;
    margin: 0 0 0 30px;
    height: 36px;
    &:first-child{
      margin-left: 0;
      padding-right: 41px;
      background: url("/assets/slash.png") no-repeat right -8px;
    }
  }
}


.fixed-area{
  height: 100%;
  max-width: 100%;
  overflow-x:hidden;
}

// Main Content
.main-content{
  margin: 100px auto 0;
  animation:         fade-in 1.2s 1; /* IE 10+ */
}

.item{
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0;
  min-width: 100px;
  min-height: 100px;
  background-color: $contrast;
  img{width: 100%;opacity: 0;transition: opacity 300ms;}
  &.loaded img{opacity: 1;}
}

.grid-sizer, .item{width: 100%;}
.gutter-sizer { width: 0%; }


// Fade In Animation
@keyframes fade-in {
  0%   { opacity: 0; }
  50%   { opacity: 0; }
  100% { opacity: 1; }
}

.pagination{
  position: absolute;
  top: 19px;
  left: 30px;
  width: 78px;
  height: 36px;
  background: url(/assets/slash.png) no-repeat center center;
}

.pagination a{
  @extend %image-replacement;
  display: block;
  padding: 0;
  width: 18px;
  height: 36px;
}

.prev{
  background: url(/assets/arrow-left.png) no-repeat left center;
  margin-right: 40px;
  float: left;
}

.next{
  background: url(/assets/arrow-right.png) no-repeat left center;
  float: right;
}


// About

.body-email{
  font-weight: bold;
  font-style: normal;
  padding-bottom: 20px;
  text-indent: 0;
}

.block{padding: 0 30px;}

// Footer
p.copy{
  font-size: 14px;
  text-align: center;
  padding: 10px 0 20px 0;
  color: $contrast;

  span.break{display: block;clear: both;}

  a{
    color: $contrast;
    border-bottom: solid 1px rgba($contrast, 0.25);
    padding-bottom: 2px;
  }
}


// Fancybox Version
.overlay-wrapper{margin-top: 100px;}
.fancybox-inner{
  header{animation: none;}
  .email, .site-title{position: absolute;display: none;}
  &.active{display: block;}
  .close{
    position: absolute;
    top: 26px;
    right: 30px;
    font-size: 19px;
    color: $close;
    letter-spacing: 1px;
  }
  img{
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    background-color: #1e1e1e;
    min-width: 100%;
    min-height: 100px;
  }
  p {
    margin: 0;
    padding: 0;
    text-indent: 35px;
    font-style: italic;
    font-size: 18px;
    line-height: 1.5;
  }
}