// 768 ===================================================

.fixed-area{
  margin: 0 6.510416667%;
}

.overlay-wrapper{
  width: auto;
  padding: 0 100px 120px 100px;
  img{
    width: 100%;
    margin: 0 0 20px 0;
  }
  &.about-overlay .block{padding: 0;}
}

.text-block, .overlay-wrapper h1{
  margin: 0 0 48px 0;
}

// Header
.site-title{display: none;}
.email, .filter{display: block;}

.overlay{
  .email {display: block;}
  .site-title{display: none;}
}

// Grid Sizing
.grid-sizer, .item{width: 48.502994%;}
.gutter-sizer {width: 2.994012%;}

.item{
  margin-bottom: 20px;
}


// About Layout
.body-email{display: none;}

.text-block{
  margin: 0 auto 48px auto;
}

// Pagination
.pagination{
  right: 106px;
  left: auto;
}


// Footer
p.copy span.break{display: none;clear: none;}